<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjektGraficzny.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="defaultWindowWidth" value="800" />
    <add key="defaultWindowHeight" value="600" />
    <add key="defaultSelectedFractalType" value="0" />
    <add key="defaultSelectedDrawingMode" value="0" />
    <add key="maxIterations" value="127" />
  </appSettings>
  <userSettings>
    <ProjektGraficzny.Properties.Settings>
      <setting name="selectedFractalType" serializeAs="String">
        <value />
      </setting>
      <setting name="selectedDrawingMode" serializeAs="String">
        <value />
      </setting>
    </ProjektGraficzny.Properties.Settings>
  </userSettings>
</configuration>